html {
    touch-action: manipulation;
}

body {
    overflow-y: hidden;
    background-color: #fafafa;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//splash screen
.splash {
    height: 100vh;
    background: url(../img/splash.png);
    text-align: center;
    margin: 0 auto;
    transition: all 0.2s ease-out;
    img {
        margin-top: 40vh;
    }
    h1 {
        margin-top: 16px;
        font-family: OpenSans-Regular;
        font-size: 13.88px;
        color: #616161;
    }
}

//Onboarding
.container {
    opacity: 0;
    margin-top: 15vh;
    padding: 16px;
    height: 100%;
    text-align: center;
    transition: all 1.5s ease-in;
    h1 {
        font-family: OpenSans-Semibold;
        font-size: 20px;
        color: #343434;
        line-height: 36px;
    }
    #slidingimg {
        text-align: center;
        margin: 0 auto;
        height: 300px;
    }
    .control {
        margin-top: 10vh;
        .slider {
            margin: 24px auto;
            padding: 4px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .slide {
                border-radius: 50%;
                height: 10px;
                width: 10px;
                margin: 0 8px;
                background: #E3E3E3;
                transition: all 0.25s ease-in-out;
            }
            .active {
                border-radius: 50%;
                height: 14px;
                width: 14px;
                background: #BDBDBD;
            }
        }
        label {
            margin-top: 18px;
            font-family: OpenSans-Light;
            font-size: 9px;
            display: block;
            color: #343434;
        }
        a {
            button {
                padding: 12px;
                background: #FFFFFF;
                box-shadow: 0 2px 3px 0 rgba(180, 180, 180, 0.50);
                border-radius: 3px;
                width: 80%;
                font-family: OpenSans-Semibold;
                font-size: 18px;
                color: #565656;
                img {
                    vertical-align: middle;
                    margin-right: 16px;
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}

//registration
.signup {
    .gradient {
        .total {
            width: 100px;
            height: 4px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 24px;
            background: rgba(255, 255, 255, 0.39);
            border-radius: 100px;
        }
        .part {
            width: 25px;
            height: 4px;
            float: left;
            transition: all 0.5s ease-out;
            margin: 0 auto;
            margin-bottom: 24px;
            background: rgba(255, 255, 255, 1);
            border-radius: 100px;
        }
        padding: 48px 0;
        text-align: center;
        background-image: linear-gradient(-180deg,
        #65C86F 0%,
        #60BA69 100%);
        h1 {
            transition: all 0.5s ease-out;
            font-family: OpenSans-Semibold;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
    .background {
        background: #FAFAFA;
        border-radius: 10px;
        .dead {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-family: OpenSans-Semibold;
            padding: 16px;
            font-size: 20px;
            color: #A9A9A9;
            background: #F1F1F1;
            transition: all 0.1s ease-in;
        }
        .alive {
            @extend .dead;
            color: #fff;
            background-color: #64C56E;
        }
        h1 {
            margin-bottom: 5vh;
            font-family: OpenSans;
            font-size: 16px;
            color: #616161;
        }
        .sex {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .gender {
                display: flex;
                flex-direction: column;
                p {
                    margin-top: 16px;
                    font-size: 12px;
                    transition: all 0.3s ease-in-out;
                }
                img{
                    transition: all 0.3s ease-in-out;
                }
            }
            .nay {
                img {
                    filter: grayscale(1);
                    opacity: 0.6;
                }
                p {
                    font-family: OpenSans-Regular;
                    color: #B5B5B5;
                }
            }
            .yay {
                p {
                    font-family: OpenSans-Semibold;
                    opacity: #616161;
                }
            }
        }
    }
}
